@charset "UTF-8";
:root {
  color-scheme: light only;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;  
}

/* IE, Edge, Chrome에서 스크롤바 숨기기 */
html::-webkit-scrollbar {
display: none;
}

$primary-color : #7070FF;
// $secondary-color: #fff;
$facein-color: #000;
$background-white: #fff;
$text-color: #2D3439;
$text-white: #fff;

@media screen and (max-width:725px) {
  .header {
    & .header-inner {
      justify-content :flex-start !important;
      
      & .header-menu {
        & .header-nav {
          & .header-nav-list {
            & .pc-nav {
              display: none;
            }

            & .mobile-nav {
              display: block;
              width: 80px;
              z-index: 20;

              // height: 50px;
              & .hamburger_menu {
                margin: auto;
                display: block;
                background: url('../../public/images/hamburger-icon-white.svg') no-repeat;
                width: 50px;
                height: 50px;
                cursor: pointer;

                // padding-right: 50px;
              }
              & .hamburger_white {
                margin: auto;
                display: block;
                background: url('../../public/images/hamburger-icon-d.png') no-repeat;
                width: 50px;
                height: 50px;
                cursor: pointer;

                // padding-right: 50px;
              }
              & .active {
                background: url('../../public/images/close-icon-black.svg') no-repeat;
              }
            }
          }

          & .mobile-nav-list {
            display: block;
            position: fixed;
            top: 80px;
            right: 0;
            width: 100%;
            height: 50%;
            background: #fff;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            z-index: 20;            
          }

        }
      }

      // & #header-nav {
      //     & .active {
      //         transform: translateX(0);
      //     }
      // }
    }

    & .mobile-nav-list {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      // background: #fff;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      z-index: 20;
      margin-top: 90px;

      & .header-nav-item {
        padding: 10px 30px;

        & .header-nav-item-link {
          & .header-nav-item-link-text {
            font-size: 14px;
            font-weight: 800;
          }
        }
      }
    }
  }


  .hamburger_overlay {
    position: fixed;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    // bottom: 0;
    // right: 0;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 19;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #00000065;
      width: 100%;
      height: 100%;
      z-index: 19;
    }
  }


  .active {
    transform: translateX(0) !important;
  }

  
  #section1 {
    background: url("../../public/images/mobile_s1_1.png") no-repeat; 
    background-size: cover;
    background-position: center; 
  }

  #section3 {
    background: url("../../public/images/mobile_s3.png") no-repeat;  
    background-size: cover;
    background-position: center;
  }

  #section5 {
    background: url("../../public/images/mobile_s5.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  #section8 {
    background: url("../../public/images/mobile_s8.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  #section11 {
    background: url("../../public/images/mobile_s11.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

   
#section2 .mcontainer,
#section4 .mcontainer,
#section6 .mcontainer,
#section9 .mcontainer,
#section12 .mcontainer  {
  display: inline-flex;
  flex-direction: column;
  align-items: center; 
  margin-top:130px;
}

#section2 .container,
#section4 .container,
#section6 .container,
#section9 .container,
#section12 .container  {
  display: none;
}

#section2 .mcontainer > .up_content,
#section4 .mcontainer > .up_content,
#section6 .mcontainer > .up_content,
#section9 .mcontainer > .up_content,
#section12 .mcontainer > .up_content {   
gap: 32px;

}

#section2 .mcontainer > .up_content #text1,
#section4 .mcontainer > .up_content #text1,
#section6 .mcontainer > .up_content #text1,
#section9 .mcontainer > .up_content #text1,
#section12 .mcontainer > .up_content #text1  {
  color: var(--sys-color-primary, #7070FF);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

#section2 .mcontainer > .up_content #text2,
#section4 .mcontainer > .up_content #text2,
#section6 .mcontainer > .up_content #text2,
#section9 .mcontainer > .up_content #text2,
#section12 .mcontainer > .up_content #text2  {
  color: var(--sys-color-neutral-20, #2D3439);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}

#section2 .mcontainer > .up_content #text3,
#section4 .mcontainer > .up_content #text3,
#section6 .mcontainer > .up_content #text3,
#section9 .mcontainer > .up_content #text3,
#section12 .mcontainer > .up_content #text3 {
  color: var(--sys-color-neutral-20, #2D3439);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  padding-bottom: 6%;
}

#section2 .mcontainer > .down_content #text4,
#section4 .mcontainer > .down_content #text4,
#section6 .mcontainer > .down_content #text4,
#section9 .mcontainer > .down_content #text4,
#section12 .mcontainer > .down_content #text4  {
  color: var(--sys-color-neutral-30, #434E56);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

#section2 .mcontainer > .down_content #text4 .text-background,
#section4 .mcontainer > .down_content #text4 .text-background,
#section6 .mcontainer > .down_content #text4 .text-background,
#section9 .mcontainer > .down_content #text4 .text-background,
#section12 .mcontainer > .down_content #text4 .text-background {
background-color: #B6EDE5;
color: #434E56;
}

#section2 .mcontainer > .m_content img,
#section4 .mcontainer > .m_content img,
#section6 .mcontainer > .m_content img,
#section9 .mcontainer > .m_content img,
#section12 .mcontainer > .m_content img {
width: 70%; 
margin-left: 16%; 
margin-bottom: 3%;
margin-top: 2%;
}

#section7 .container,
#section10 .container,
#section13 .container {
 display: none;
}

#section7 .mcontainer,
#section10 .mcontainer,
#section13 .mcontainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center; 
  margin-top:130px;
}

#section7 .mcontainer > .up_content,
#section10 .mcontainer > .up_content,
#section13 .mcontainer > .up_content {  
  gap: 32px;
}

#section7 .mcontainer > .up_content #text1,
#section10 .mcontainer > .up_content #text1,
#section13 .mcontainer > .up_content #text1 {
  color: var(--sys-color-primary, #7070FF);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

#section7 .mcontainer > .up_content #text2,
#section10 .mcontainer > .up_content #text2,
#section13 .mcontainer > .up_content #text2 {
  color: var(--sys-color-neutral-20, #2D3439);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}

#section7 .mcontainer > .up_content #text3,
#section10 .mcontainer > .up_content #text3,
#section13 .mcontainer > .up_content #text3 {
  color: var(--sys-color-neutral-20, #2D3439);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  padding-bottom: 6%;
}

#section7 .mcontainer > .down_content #text4,
#section10 .mcontainer > .down_content #text4,
#section13 .mcontainer > .down_content #text4 {
  color: var(--sys-color-neutral-30, #434E56);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

#section7 .mcontainer > .down_content #text4 .text-background,
#section10 .mcontainer > .down_content #text4 .text-background,
#section13 .mcontainer > .down_content #text4 .text-background  {
background-color: #B6EDE5;
color: #434E56;
}

#section7 .mcontainer > .ml_content img,
#section10 .mcontainer > .ml_content img,
#section13 .mcontainer > .ml_content img {
width: 70%; 
margin-left: 16%; 
margin-bottom: 3%;
margin-top: 2%;
}

#section3 .overlay,
#section5 .overlay,
#section8 .overlay,
#section11 .overlay {
position: absolute;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0);
z-index: 1;
transition: background-color 0.5s ease;
}


#section3 .container .text_box #section3_move_text1,
#section3 .container .text_box #section3_move_text2, 
#section5 .container .text_box #section5_move_text1,
#section5 .container .text_box #section5_move_text2,
#section8 .container .text_box #section8_move_text1,
#section8 .container .text_box #section8_move_text2,
#section11 .container .text_box #section11_move_text1,
#section11 .container .text_box #section11_move_text2 {
  font-size: 24px;
}

#section3 .container .text_box,
#section5 .container .text_box,
#section8 .ontainer .text_box,
#section11 .container .text_box {
margin: 0px 0px 0 calc((100% - 980px) * 0.5);
position: absolute;
top: 40%;
left: 70%;
z-index: 3;
}

#section14 {
background: linear-gradient(180deg, #FFF 0%, #EBEBFF 51.56%);
}

#section14 .container {
position: absolute;
top: 20%;  
}

#section14 .container > .text #text1 {
color: var(--sys-color-primary, #7070FF);
text-align: center;
font-family: NanumSquareRound;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 150%; /* 48px */
}

#section14 .container > .text #text2 { 
color: var(--sys-color-neutral-20, #2D3439);
text-align: center;
font-family: NanumSquareRound;
font-size: 56px;
font-style: normal;
font-weight: 800;
line-height: 150%; /* 84px */
}

#section14 .container >.text #text4 {     
color: var(--sys-color-neutral-30, #434E56);
text-align: center;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 30px */
}


}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  & .header-inner {
      height: 100%;
      display: flex;
      justify-content: space-around;
      // justify-content: space-between;
      align-items: center;
      margin: auto;
      min-width: 380px;
      max-width: 1080px;

      & .header-title {
          // flex: 0;
          // margin-right: auto;

          & a {
              display: block;
              padding: 16px 0px;
          }
      }

      & .header-menu {
          // flex: 1;

          & .header-nav-list {
              display: flex;
              justify-content: flex-end;
              align-items: center;

              & .mobile-nav {
                  display: none;
              }

              & .header-nav-item {
                  position: relative;
                  padding: 0 10px;

                  &-link {
                      display: block;
                      padding: 24px 12px;

                      &-text {
                        color:$text-white;
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Pretendard;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%; /* 27px */
                        position: relative; /* 상대 위치 설정 */
                        display: inline-block; 
                        vertical-align: bottom;

                          &:after {
                            content: "";
                            position: absolute; /* 절대 위치 설정 */
                            bottom: -2px; /* 라인 위치 조정 */
                            left: 0; /* 왼쪽 정렬 */
                            width: 100%; /* 가로 길이 100% */
                            height: 2px; /* 선의 높이 */
                            background-color:$background-white; /* 라인 색상 */
                            transform: scaleX(0); /* 초기에는 가로 길이를 0으로 설정하여 숨김 */
                            transition: transform 0.3s ease-in-out; /* 애니메이션 효과 추가 */                          
                          }
                            &:hover::after {
                              transform: scaleX(1); /* hover 상태에서 가로 길이를 1로 설정하여 라인을 나타냄 */
                          }
                      } 
                      & .background_white {
                        color:$text-color;
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Pretendard;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%; /* 27px */
                        position: relative; /* 상대 위치 설정 */
                        display: inline-block; 
                        vertical-align: bottom;

                          &:after {
                            content: "";
                            position: absolute; /* 절대 위치 설정 */
                            bottom: -2px; /* 라인 위치 조정 */
                            left: 0; /* 왼쪽 정렬 */
                            width: 100%; /* 가로 길이 100% */
                            height: 2px; /* 선의 높이 */
                            background-color:$text-color; /* 라인 색상 */
                            transform: scaleX(0); /* 초기에는 가로 길이를 0으로 설정하여 숨김 */
                            transition: transform 0.3s ease-in-out; /* 애니메이션 효과 추가 */ 
                          }
                            &:hover::after {
                              transform: scaleX(1); /* hover 상태에서 가로 길이를 1로 설정하여 라인을 나타냄 */
                          }
                      }

                  }
              }

              & .button {
                  cursor: pointer;
                  width: 160px;
                  height: 51px;
                  border: 1px solid $primary-color;
                  background-color: $primary-color;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  & .button_text {
                      font-size: 18px;
                      color: $text-white;
                      font-weight: 800;
                      position: relative;
                  }
              }

              & .button_list {
                  position: absolute;
                  top: 120%;
                  left: 0;
                  width: 100%;
                  max-height: 0;
                  overflow: hidden;
                  transition: max-height 0.3s ease-in-out;
                  background-color: $background-white;
                  border-radius: 16px;
                  z-index: 21;  
                  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.10);

                  & .button_list_text {
                      color: #2D3439;
                      font-weight: 500;
                      font-size: 16px;
                      padding: 10px;
                  }

                  & .button_list_btn {
                      background-color: #EBEBFF;
                      display: block;
                      width: 160px;
                      margin: 10px auto;
                      border: 1px solid #EBEBFF;
                      border-radius: 12px;

                      & .btn_text {
                          color: $primary-color;
                          font-weight: 700;
                          font-size: 16px;
                          text-align: center;
                          padding: 5px;
                      }
                      & a {
                        color:$primary-color;
                      } 
                  }
              }

              & .show_list {
                  max-height: 270px;
              }
          }
      }

      & .mobile-nav-list {
          display: none;
      }
  }
}

.section {
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
  position: relative;
  display: flex;  
  justify-content: center;
  // overflow-y: auto; 
  overflow-y: hidden;
  transition: background-image 0.5s ease;
  /* 배경 이미지 전환을 위해 추가 */
}

.section .container {
  width: 100%;
  max-width: 1080px;
  height: 100%; 
}


#section1,
#section3,
#section5,
#section8,
#section11 {  
  opacity: 1; 
}

#section1 {
  background: url("../../public/images/main_background1.png") no-repeat; 
  background-size: cover;
  background-position: center; 
}

#section3 {
  background: url("../../public/images/section3_background.png") no-repeat;  
  background-size: cover;
  background-position: center;
}

#section5 {
  background: url("../../public/images/section5_background.png") no-repeat;
  background-size: cover;
  background-position: center;
}

#section8 {
  background: url("../../public/images/section8_background.png") no-repeat;
  background-size: cover;
  background-position: center;
}

#section11 {
  background: url("../../public/images/section11_background.png") no-repeat;
  background-size: cover;
  background-position: center;
}
 
 
#section2 .container,
#section4 .container,
#section6 .container,
#section9 .container,
#section12 .container  {
  position: relative;
  display: flex;
  align-items: center; 
}

#section2 .mcontainer,
#section4 .mcontainer,
#section6 .mcontainer,
#section9 .mcontainer,
#section12 .mcontainer  {
  display: none;
}

#section2 .container > .left_content,
#section4 .container > .left_content,
#section6 .container > .left_content,
#section9 .container > .left_content,
#section12 .container > .left_content {  
  margin-bottom: 20%;
  gap: 32px;
}

#section2 .container > .left_content #text1,
#section4 .container > .left_content #text1,
#section6 .container > .left_content #text1,
#section9 .container > .left_content #text1,
#section12 .container > .left_content #text1  {
color: var(--sys-color-primary, #7070FF);
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 30px */
}

#section2 .container > .left_content #text2,
#section4 .container > .left_content #text2,
#section6 .container > .left_content #text2,
#section9 .container > .left_content #text2,
#section12 .container > .left_content #text2  {
color: var(--sys-color-neutral-20, #2D3439);
font-family: Pretendard;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 60px */
}

#section2 .container > .left_content #text3,
#section4 .container > .left_content #text3,
#section6 .container > .left_content #text3,
#section9 .container > .left_content #text3,
#section12 .container > .left_content #text3 {
color: var(--sys-color-neutral-20, #2D3439);
font-family: Pretendard;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 60px */
padding-bottom: 6%;
}

#section2 .container > .left_content #text4,
#section4 .container > .left_content #text4,
#section6 .container > .left_content #text4,
#section9 .container > .left_content #text4,
#section12 .container > .left_content #text4  {
  font-size: 1.2vw;
  text-align: left;
  font-weight: bold;
  color: #434E56;
  font-family: Pretendard;
}

#section2 .container > .left_content #text4,
#section4 .container > .left_content #text4,
#section6 .container > .left_content #text4,
#section9 .container > .left_content #text4,
#section12 .container > .left_content #text4  {
color: var(--sys-color-neutral-30, #434E56);
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 170%; /* 40.8px */
}

#section2 .container > .left_content #text4 .text-background,
#section4 .container > .left_content #text4 .text-background,
#section6 .container > .left_content #text4 .text-background,
#section9 .container > .left_content #text4 .text-background,
#section12 .container > .left_content #text4 .text-background {
  background-color: #B6EDE5;
  color: #434E56;
}

#section2 .container > .right_content img,
#section4 .container > .right_content img,
#section6 .container > .right_content img,
#section9 .container > .right_content img,
#section12 .container > .right_content img {
  width: 80%;
  margin-top: 20%;
  margin-left: 45%;
}
#section7 .mcontainer,
#section10 .mcontainer,
#section13 .mcontainer {
  display: none;
}

#section7 .container,
#section10 .container,
#section13 .container {
  display: flex;
  align-items: center;
}

#section7 .container > .right_content,
#section10 .container > .right_content,
#section13 .container > .right_content {  
  margin-bottom: 20%;
  margin-left: 14%; 
}

#section7 .container > .right_content #text1,
#section10 .container > .right_content #text1,
#section13 .container > .right_content #text1 {
color: var(--sys-color-primary, #7070FF);
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 30px */
}

#section7 .container > .right_content #text2,
#section10 .container > .right_content #text2,
#section13 .container > .right_content #text2 {
color: var(--sys-color-neutral-20, #2D3439);
font-family: Pretendard;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 60px */  
}

#section7 .container > .right_content #text3,
#section10 .container > .right_content #text3,
#section13 .container > .right_content #text3 {
  color: var(--sys-color-neutral-20, #2D3439);
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  padding-bottom: 6%;
}

#section7 .container > .right_content #text4,
#section10 .container > .right_content #text4,
#section13 .container > .right_content #text4 {
color: var(--sys-color-neutral-30, #434E56);
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 170%; /* 40.8px */
}

#section7 .container > .right_content #text4 .text-background,
#section10 .container > .right_content #text4 .text-background,
#section13 .container > .right_content #text4 .text-background  {
  background-color: #B6EDE5;
  color: #434E56;
}

#section7 .container > .left_content img,
#section10 .container > .left_content img,
#section13 .container > .left_content img {
  width: 80%;
  margin-top: 20%; 
}

#section3 .overlay,
#section5 .overlay,
#section8 .overlay,
#section11 .overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background-color 0.5s ease;
}


#section3 .container .text_box #section3_move_text1,
#section3 .container .text_box #section3_move_text2, 
#section5 .container .text_box #section5_move_text1,
#section5 .container .text_box #section5_move_text2,
#section8 .container .text_box #section8_move_text1,
#section8 .container .text_box #section8_move_text2,
#section11 .container .text_box #section11_move_text1,
#section11 .container .text_box #section11_move_text2 {
  position: relative;
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  transform: translateY(100%);
  opacity: 0;
}

#section3 .container .text_box,
#section5 .container .text_box,
#section11 .container .text_box {
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  position: absolute;
  top: 40%;  
  left: 8px;
  text-align: center;
  z-index: 3;
}

#section8 .container .text_box {
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  position: absolute;
  top: 40%;  
  left: 9%;
  text-align: center;
  z-index: 3;
}

#section14 {
  background: linear-gradient(180deg, #FFF 0%, #EBEBFF 51.56%);
}

#section14 .container {
  position: absolute;
  top: 20%;  
}

#section14 .container > .text #text1 {
color: var(--sys-color-primary, #7070FF);
text-align: center;
font-family: NanumSquareRound;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 150%; /* 48px */
}

#section14 .container > .text #text2 { 
color: var(--sys-color-neutral-20, #2D3439);
text-align: center;
font-family: NanumSquareRound;
font-size: 56px;
font-style: normal;
font-weight: 800;
line-height: 150%; /* 84px */
}

#section14 .container >.text #text4 {     
  color: var(--sys-color-neutral-30, #434E56);
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}


@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.section .container .text_box {
  animation: slide-up 1s forwards;
}

footer {
  background: #F3F5F7;
  display: flex;
  width: 100%;
  height: 359px;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
footer .layout {
  display: flex;
  align-items: flex-start;
}
footer .layout .left_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}
footer .layout .right_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-left: 120px;
}
footer .layout .left_box .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}
footer .layout .left_box .text_box {
  color: var(--sys-color-neutral-60, #879BAB);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-bottom: 24px;
}
footer .layout .left_box .text_copy {
  color: var(--sys-color-neutral-60, #879BAB);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
footer .layout .right_box .title {
  color: var(--sys-color-neutral-20, #2D3439);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}
footer .layout .right_box .button_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.button_box .pr_box {
  display: flex;
  align-items: center;
}

.button_box .ch_box {
  display: flex;
  align-items: center;
}

.button_box .ch_box img{
   margin-left:23px;
  }
 

.button_box .text_name {
  display: flex;
  color: var(--sys-color-neutral-40, #5A6872);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  align-items: center;
}

.button_box img {
  display: inline-block;
  width: 160px;
  height: 48px;
  margin: 0px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  background-color: #fff;
}

#company {
  /* 소개글 css */
  color: var(--sys-color-neutral-30, #434E56);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
  width: 721px;
  display: flex;
  gap: 48px;
  letter-spacing: -2px;
  margin-top: 38px;
}

#icon {
  /* images icon css*/
  display: flex;
  gap: 16px;
  fill: var(--sys-color-neutral-80, #C3CDD5);
  width: 176px;
  height: 32px;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */





#search_area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #8A8AFF;
    color: #FFFFFF;

 
}
.search-area p {
    font-size: 24px;
    margin-top: 3.3%;
    margin-left: -75% ;
     /* 수정: 원하는 여백 크기 */
}

li {
    list-style-type: none;
    cursor: pointer; 
}


#container {
    display: flex;
    position: relative;
    width: 80%;
    height: auto;
    min-height: 100%;
    margin-left: 10%;
    padding-top: 243px;
    padding-bottom: 359px;
}

#sidebar {
    width: 30%;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

#content {
    width: 70%;
    padding: 20px;
    color:#2D3439;
    font-size: 10pt;
}
 
#content p strong {
    font-size: 11pt;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    
}

#sidebar ul li.active {
    background-color: #EBEBFF;
    color: #7070FF;
    width: 70%;
    border-radius: 8px;
    font-weight: bold;
    padding: 12px 16px;
    font-size: 18px;
}

#search_area {
    transition: opacity 0.5s ease; /* Add a smooth transition effect */
}

.hidden {
    opacity: 0;
    pointer-events: none; /* Disable pointer events to make the element unclickable */
}



//secation15 
.base-image {
    position: absolute;
    width: 100%;
    animation: float 3.5s ease-in-out infinite;
}

.circle {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 100%; 
}

.circle-image {
    width: 100%;
    opacity: 0; 
}

.text { 
    text-align: center;   
}

.fade-image {  
    position:absolute;
    opacity: 0;
    animation-delay: 1s;
    margin: 0px 0px 0px calc((100% - 980px) * 0.5); 
    top: 50%;
    left: 150px;  
    width: 682px;
    height: 350px;    
} 

  @keyframes slide-down {
    from {
      transform: translateY(0);
      opacity: 0;
    }
    to {
      transform: translateY(50px);
      opacity: 1;
    }
  }

  @keyframes float {
    0% {transform: translateY(0px)}
    50% {transform: translateY(-15px)}
    100% {transform: translateY(0px)} 
}
  
.pc_view {
  display: contents;
}

.mobile_view {
  display:none;
}

@media screen and (max-width:468px) {
 
  #section1 {
    background: url("../../public/images/mobile_s1_1.png") no-repeat; 
    background-size: cover;
    background-position: center; 
  }

  #section3 {
    background: url("../../public/images/mobile_s3.png") no-repeat;  
    background-size: cover;
    background-position: center;
  }

  #section5 {
    background: url("../../public/images/mobile_s5.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  #section8 {
    background: url("../../public/images/mobile_s8.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  #section11 {
    background: url("../../public/images/mobile_s11.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

.text_box span{
  margin-bottom: 1rem;
  display: block;
}

.text span{
  margin-bottom: 1rem;
  display: block;
}
   
#section2 .mcontainer,
#section4 .mcontainer,
#section6 .mcontainer,
#section9 .mcontainer,
#section12 .mcontainer  {
  display: inline-flex;
  flex-direction: column;
  align-items: center; 
  margin-top:130px;
  height: 100vh;
}

#section2 .container,
#section4 .container,
#section6 .container,
#section9 .container,
#section12 .container  {
  display: none;
}

#section2 .mcontainer > .up_content,
#section4 .mcontainer > .up_content,
#section6 .mcontainer > .up_content,
#section9 .mcontainer > .up_content,
#section12 .mcontainer > .up_content {   
gap: 32px;

}

#section2 .mcontainer > .up_content #text1,
#section4 .mcontainer > .up_content #text1,
#section6 .mcontainer > .up_content #text1,
#section9 .mcontainer > .up_content #text1,
#section12 .mcontainer > .up_content #text1  {
  color: var(--sys-color-primary, #7070FF);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

#section2 .mcontainer > .up_content #text2,
#section4 .mcontainer > .up_content #text2,
#section6 .mcontainer > .up_content #text2,
#section9 .mcontainer > .up_content #text2,
#section12 .mcontainer > .up_content #text2  {
  color: var(--sys-color-neutral-20, #2D3439);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}

#section2 .mcontainer > .up_content #text3,
#section4 .mcontainer > .up_content #text3,
#section6 .mcontainer > .up_content #text3,
#section9 .mcontainer > .up_content #text3,
#section12 .mcontainer > .up_content #text3 {
  color: var(--sys-color-neutral-20, #2D3439);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  padding-bottom: 6%;
}

#section2 .mcontainer > .down_content #text4,
#section4 .mcontainer > .down_content #text4,
#section6 .mcontainer > .down_content #text4,
#section9 .mcontainer > .down_content #text4,
#section12 .mcontainer > .down_content #text4  {
  color: var(--sys-color-neutral-30, #434E56);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

#section2 .mcontainer > .down_content #text4 .text-background,
#section4 .mcontainer > .down_content #text4 .text-background,
#section6 .mcontainer > .down_content #text4 .text-background,
#section9 .mcontainer > .down_content #text4 .text-background,
#section12 .mcontainer > .down_content #text4 .text-background {
background-color: #B6EDE5;
color: #434E56;
}

#section2 .mcontainer > .m_content img,
#section4 .mcontainer > .m_content img,
#section6 .mcontainer > .m_content img {
height: 40vh;
width: auto;  
margin-left: auto; 
margin-bottom: 3%;
margin-top: 2%;
}


#section9 .mcontainer > .m_content img,
#section12 .mcontainer > .m_content img {
  height: 40vh;
  width: auto;  
  margin-left: auto; 
  margin-bottom: 3%;
  margin-top: 2%;
}

#section7 .container,
#section10 .container,
#section13 .container {
 display: none;
}

#section7 .mcontainer,
#section10 .mcontainer,
#section13 .mcontainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center; 
  margin-top:130px;
}

#section7 .mcontainer > .up_content,
#section10 .mcontainer > .up_content,
#section13 .mcontainer > .up_content {  
  gap: 32px;
}

#section7 .mcontainer > .up_content #text1,
#section10 .mcontainer > .up_content #text1,
#section13 .mcontainer > .up_content #text1 {
  color: var(--sys-color-primary, #7070FF);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

#section7 .mcontainer > .up_content #text2,
#section10 .mcontainer > .up_content #text2,
#section13 .mcontainer > .up_content #text2 {
  color: var(--sys-color-neutral-20, #2D3439);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}

#section7 .mcontainer > .up_content #text3,
#section10 .mcontainer > .up_content #text3,
#section13 .mcontainer > .up_content #text3 {
  color: var(--sys-color-neutral-20, #2D3439);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  padding-bottom: 6%;
}

#section7 .mcontainer > .down_content #text4,
#section10 .mcontainer > .down_content #text4,
#section13 .mcontainer > .down_content #text4 {
  color: var(--sys-color-neutral-30, #434E56);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

#section7 .mcontainer > .down_content #text4 .text-background,
#section10 .mcontainer > .down_content #text4 .text-background,
#section13 .mcontainer > .down_content #text4 .text-background  {
background-color: #B6EDE5;
color: #434E56;
}

#section7 .mcontainer > .ml_content img,
#section10 .mcontainer > .ml_content img,
#section13 .mcontainer > .ml_content img {
  height: 50vh;
  width: auto;  
  margin-left: auto; 
  margin-bottom: 3%;
  margin-top: 2%;
}

#section3 .overlay,
#section5 .overlay,
#section8 .overlay,
#section11 .overlay {
position: absolute;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0);
z-index: 1;
transition: background-color 0.5s ease;
}


#section3 .container .text_box #section3_move_text1,
#section3 .container .text_box #section3_move_text2, 
#section5 .container .text_box #section5_move_text1,
#section5 .container .text_box #section5_move_text2,
#section8 .container .text_box #section8_move_text1,
#section8 .container .text_box #section8_move_text2,
#section11 .container .text_box #section11_move_text1,
#section11 .container .text_box #section11_move_text2 {
  font-size: 24px;
}

#section3 .container .text_box,
#section5 .container .text_box,
#section11 .container .text_box {
margin: auto;
position: relative;
top: 40%; 
z-index: 3;
}

#section8 .container .text_box{
  margin: auto;
  position: relative;
  top: 40%;
  left:-1%;
  z-index: 3;
}

#section14 {
background: linear-gradient(180deg, #FFF 0%, #EBEBFF 51.56%);
}

#section14 .container {
position: absolute;
top: 20%;  
}

#section14 .container > .text #text1 {
  color: var(--sys-color-primary, #7070FF);
  font-family: NanumSquareRound;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 27px */
}

#section14 .container > .text #text2 { 
  color: var(--sys-color-neutral-20, #2D3439);
  font-family: NanumSquareRound;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 33px */
  padding-bottom: 24px;
}

#section14 .container >.text #text4 {     
  color: var(--sys-color-neutral-30, #434E56);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

//secation15 
.base-image {
  position: absolute;
  top:40%;
  width: 1346px;
  height: 439px;
  animation: float 3.5s ease-in-out infinite;
}

.circle {
  position: absolute;
  width: 350%; 
  bottom: 0;
  top:85%
}

.circle-image { 
  opacity: 0; 
}

.text { 
  text-align: center;   
}

.fade-image {  
  position:relative;
  opacity: 0;
  animation-delay: 1s;
  margin: auto;
  top:25%;
  left: -1%;  
  width: 360px;
  height: 210px;    
} 

.pc_view {
  display: none;
}

.mobile_view {
  display:flex;
}

.wrapper {
display: flex;
width: 100vw;
height: 600px;
padding: 24px 67px 64px 67px;
flex-direction: column;
align-items: center;
}

#company {
display: flex;
flex-direction: column;
align-items: center;
line-height: 0.2px;
padding-bottom: 40px;
}

.company_name {
padding-bottom: 10px;
}

footer .layout {
  display: flex;
  align-items: flex-start;
}

footer .left_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}


footer .left_box .text_box {
  color: var(--sys-color-neutral-60, #879BAB);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-bottom: 24px;
  text-align: center;
}

footer .text_copy {
  color: var(--sys-color-neutral-60, #879BAB);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  padding-top: 24px;
}

}





